In [1]:
nombre =5
type(nombre)
Entero#

int

In [2]:
nombre = "Erik"
type(nombre)
#texto

str

In [4]:
nombre= 5.2
type(nombre)
#Decimal

float

In [6]:
nombre = """ Esto es un mensaje"""
print(nombre)

 Esto es un mensaje

In [8]:
numero1 = 5
numero2 = 4
if numero1>numero2:
    print("El numero 1 es mayor")
else: 
    print("El número 2 es mayor")

El numero 1 es mayor

In [9]:
#Declaración
def mensaje():
#Cuerpo de la función
    print("erik")
    print("Rodríguez")
    print("Franco")
#Lammada a la función
mensaje()
#Se puede llamar multiples veces

erik
Rodríguez
Franco

In [11]:
def suma():
    num1 = 5
    num2 = 7
    print(num1+num2)
suma()

12

In [12]:
#Reutilizar la función
def suma(num1, num2):
    
    print(num1+num2)
    
suma(5, 7)
suma(10, 7)
suma(15, 15)

12
17
30

In [15]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
print(milista)

['maria', 'Pepe', 'Marta', 'Antonio']

In [16]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
print(milista[3])

Antonio

In [17]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
print(milista[-3])

Pepe

In [18]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
print(milista[0:3])
#Porciones

['maria', 'Pepe', 'Marta']

In [19]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
milista.append("Sandra")
print(milista[:])
#append agrega el elemento al final

['maria', 'Pepe', 'Marta', 'Antonio', 'Sandra']

In [20]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
milista.insert(1,"Sandra")
print(milista[:])
#insert agrega el elemento en la posición indicada

['maria', 'Sandra', 'Pepe', 'Marta', 'Antonio']

In [21]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
milista.extend(["Sandra", "Erik", "Franco"])
print(milista[:])
#extend concatena otra lista con la lista inicial

['maria', 'Pepe', 'Marta', 'Antonio', 'Sandra', 'Erik', 'Franco']

In [22]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
milista.extend(["Sandra", "Erik", "Franco"])
print(milista.index("Sandra"))
#extend concatena otra lista con la lista inicial
#index te devuelve el indice de donde se encuenta el elemento

4

In [23]:
milista = ["maria", "Pepe", "Marta", "Antonio"]
milista.extend(["Sandra", "Erik", "Franco"])
print("Sandra" in milista)
#extend concatena otra lista con la lista inicial
#index te devuelve el indice de donde se encuenta el elemento
#in busca si se encuentra el dato dentro de la lista

True

In [43]:
miLista = ["maria", 5, True, 78.35]

miLista.extend(["Sandra", "Erik", "Franco"])

miLista.remove("Sandra")

print(miLista[:])
# .remove elimina el elemento

['maria', '5', 'True', '78.35', 'Erik', 'Franco']

In [47]:
milista1 = ["maria", 5, True, 78.35]
milista2 = ["Sandra", "Erik", "Franco"]
milista3 = milista1+milista2
print(milista3)

['maria', 5, True, 78.35, 'Sandra', 'Erik', 'Franco']

# Tuplas

In [48]:
mitupla = ("Juan", 13, 1, 1995)
print(mitupla[2])

1

In [50]:
mitupla = ("Juan", 13, 1, 1995)
milista=list(mitupla)
print(milista)
#convierte la tupla en una lista

['Juan', 13, 1, 1995]

In [52]:
mitupla = ["Juan", 13, 1, 1995]
milista=tuple(mitupla)
print(milista)
# tuple convierte la lista en una tupla

('Juan', 13, 1, 1995)

In [56]:
milista = ["Juan", 13, 1, 1995, 1995]
mitupla=tuple(milista)
print(mitupla.count(1995))
# count cuenta cuantas veces se encuentra el elemento

2

In [59]:
milista = ["Juan", 13, 1, 1995, 1995]
mitupla=tuple(milista)
print(len(mitupla))
# len determina la longitud de una tupla

5

# Diccionario

In [1]:
midiccionario = {"Alemania":"Berlin","Francia":"Paris", "Reino Unido":"Londres", "España":"Madrid"}
print(midiccionario["Francia"])

Paris

In [7]:
midiccionario = {"Alemania":"Berlin","Francia":"Paris", "Reino Unido":"Londres", "España":"Madrid"}
midiccionario["Italia"]="Lisboa"
print(midiccionario)
midiccionario["Italia"]="Roma"
print(midiccionario)
del midiccionario["Reino Unido"]
print (midiccionario)

{'Alemania': 'Berlin', 'Francia': 'Paris', 'Reino Unido': 'Londres', 'España': 'Madrid', 'Italia': 'Lisboa'}
{'Alemania': 'Berlin', 'Francia': 'Paris', 'Reino Unido': 'Londres', 'España': 'Madrid', 'Italia': 'Roma'}
{'Alemania': 'Berlin', 'Francia': 'Paris', 'España': 'Madrid', 'Italia': 'Roma'}

In [10]:
mitupla=["España", "Francia", "Reino Unido", "Alemania"]
midiccionario={mitupla[0]:"Madrid", mitupla[1]: "Paris", mitupla[2]: "Londres"}
print(midiccionario["Reino Unido"])

Londres

In [11]:
midiccionario = {"Alemania":"Berlin","Francia":"Paris", "Reino Unido":"Londres", "España":"Madrid"}
print(midiccionario.keys())

dict_keys(['Alemania', 'Francia', 'Reino Unido', 'España'])

In [12]:
print(midiccionario.values())

dict_values(['Berlin', 'Paris', 'Londres', 'Madrid'])

In [13]:
print(len(midiccionario))

4